body {
  background-image: url("/public/image/anh1.avif");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 10px;
}
.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(17,25,40,0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border: 1px solid rgba(255,255,255,0.125);
  display: flex;

}